* {
  margin: 0;
  padding: 0;
}
/* html {
  font-size: 90%;
} */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
.webpageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 0.5rem;
}
#inputBox {
  height: 10rem;
  width: 80rem;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 1px 2px 1px grey;
  border: 4px solid black;
}
.btn {
  background: whitesmoke;
  color: black;
  text-shadow: 0.5rem 0.5rem 0.3rem rgba(138, 127, 127, 0.1);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 0.2rem solid black;
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  width: 4rem;
  height: 4rem;
  transition: 0.2s;
}
.btn:hover {
  color: whitesmoke;
  background: black;
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(255, 255, 255, 0.7);
}
.keyboardpressedActivity{
  color: whitesmoke;
  background: black;
  box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgba(255, 255, 255, 0.7);
}
.btn:active {
  color: white;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.9);
  background-color: powderblue;
  height: 3.7rem;
}
.activeBtn {
  color: white;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.9);
  background-color: powderblue;
  height: 3.7rem;
}
#com {
  position: relative;
  top: 0.5rem;
}
#Del {
  position: relative;
  top: 0.5rem;
  width: 6rem;
}
#BigCurlyBracLeft,
#BigCurlyBracRight,
#BackSlashLine {
  position: relative;
  top: -0.5rem;
}
#BackSpace {
  width: 8rem;
}
.firstBtn {
  margin: 0 0.07rem;
}
.secondBtn {
  margin-top: 0.3rem;
}
#SemiandColon,
#SingleDoubleQuote {
  position: relative;
  top: -0.5rem;
}
#CapsLock {
  width: 8rem;
}
#Enter {
  width: 8.2rem;
}
#LesserThanComma,
#GreaterThanDot,
#QuestionMarkSlash {
  position: relative;
  top: -0.5rem;
}
#Up,
#Left,
#Down,
#Right {
  position: relative;
  top: -0.6rem;
  font-size: 1.1rem;
}
#Shift1,
#Shift2 {
  width: 9rem;
}
.fourthBtn {
  margin: 0 0.1rem;
}
#SpaceBar {
  width: 22rem;
}
#Control1,
#Control2 {
  width: 5.5rem;
}
.upperCase {
  text-transform: uppercase;
}