.gameHero {
  background: url(../Resource/SuperHero.gif) no-repeat;
  background-size: cover;
  width: 8rem;
  height: 10rem;
  position: absolute;
  bottom: -0.35rem;
  left: 28rem;
  transition: all 0.5s ease-in-out;
}
.gameVillain {
  background: url(../Resource/Dinosaur.png) no-repeat;
  transition: all 0.2s ease;
  background-size: cover;
  width: 16rem;
  height: 9rem;
  position: absolute;
  bottom: 0.1rem;
  right: 21.5rem;
}
