<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     //- <title>Using Plain HTML in Pug</title>
     <title>#{title}</title>
</head>
<body>
     <p>
        | #{content}
        //- | This is a Plain HTML in Pug
     </p>
</body>
</html>