//- It is also called layout.pug 
html
  head
    title Bright Dance Academy
    link(rel="icon" type="image/x-icon" href="/static/favicon.ico")
    block scripts
    block style 
  body
    nav#navbar
                ul 
                    div#logo
                        img(src="/static/dlogo.png", alt="BDA")
                        | BDA
                    li #[a(href="/") Home ]
                    li #[a(href="#missionSection") About]
                    li #[a(href="#missionSection") ClassInfo]
                    li #[a(href="#sponsorsSection") Services]
                    li #[a(href="/contact") Contact Us]
    block content
    footer#footer
            | CopyRight © 2022 BrightDanceAcademy.com | All Rights Reserved.